
        #imagenPrincipal {
            width: 350px;
            border: 1px;
            border-bottom: 3px;
            border-right: 3px;
            border-style: solid;
            margin-right: 15px;
            margin-top: 15px;
        }

        h1 {
           
           margin-top: 25px;
           margin-left: 100px;
            color: slateblue;
        }

        body {
            background-color: blanchedalmond;
        }

        table {
            margin-left: auto;
            margin-right: auto;

        }
